name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build Backend Image
      run: docker build -t cloudmart-backend ./applications/backend

    - name: Build Frontend Image
      run: docker build -t cloudmart-frontend ./applications/frontend

    - name: Tag Images
      run: |
        docker tag cloudmart-backend ${{ secrets.DOCKERHUB_USERNAME }}/cloudmart-backend:latest
        docker tag cloudmart-frontend ${{ secrets.DOCKERHUB_USERNAME }}/cloudmart-frontend:latest

    - name: Push Images
      run: |
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/cloudmart-backend:latest
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/cloudmart-frontend:latest
